<template>
    <div class="container">
        <div class="row justify-content-start" id="m_detail" v-if="movieNotEmpty">
            <div class="col-md-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12 mb-3">
                            <div class="d-flex align-items-end flex-column"><a title="Close" href="#" v-on:click.prevent="closeDetail()">X</a></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <img v-bind:alt="movie.Title" v-bind:src="movie.Poster" />
                            </div>
                            <div class="col-md-8 mb-3">
                                <div class="movie-title movie-rating d-flex flex-row">
                                    <h2 class="d-flex align-items-start">{{ movie.Title }}&nbsp;({{ movie.Year }})&nbsp;</h2>
                                    <p class="d-flex align-items-end">{{ movie.imdbRating }}/10</p>
                                </div>
                                <div class="movie-meta">
                                    <p>{{ movie.Rated }} | {{ movie.Runtime }} | {{ movie.Genre }} | {{ movie.Released }}</p>
                                </div>
                                <div class="director-actors">
                                    <p><strong>Director:</strong> {{ movie.Director }}</p>
                                    <p><strong>Writers:</strong> {{ movie.Writer }}</p>
                                    <p><strong>Stars:</strong> {{ movie.Actors }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Plot</h4>
                                <p>{{ movie.Plot }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-start" id="m_grid" v-else>
            <div class="col-md-12 mb-3">
                <h3>Featured Movies</h3>
            </div>
            <div class="col-md-4 mb-3" v-for="(movie, index) in movies" v-bind:key="index">
                <div class="card">
                    <div class="card-body">
                        <img v-bind:alt="movie.Title" v-bind:src="movie.Poster" class="mb-3" height="490" width="310" />
                        <h3><a v-bind:title="movie.Title" href="#" v-on:click.prevent="getMovie(index)">{{ movie.Title }}</a></h3>
                        <p>{{ movie.Plot.substring(0, 85) }}...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="application/javascript">
    export default {
        data() {
            return {
                movies: {},
                movie: {},
                movie_empty: 0
            }
        },
        computed: {
            movieNotEmpty() {
                if (this.movie_empty == 0) {
                    return false;
                } else {
                    return true;
                }
            }
        },
        methods: {
            // Get movies
            getMovies() {
                this.$http.get('/movies')
                    .then((response) => {
                        if (typeof(response.data) != "undefined" && response.data) {
                            this.movies = response.data;
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            getMovie(movie_id) {
                console.log("Hello, Pakistan!");
                this.movie = this.movies[movie_id];
                this.movie_empty = 1;
            },
            // Close detail box
            closeDetail() {
                this.movie = {};
                this.movie_empty = 0;
            }
        },
        mounted() {
            // Load movies
            this.getMovies();
        }
    }
</script>
